<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Angular Exam Solution</title>
        <script type="text/javascript" src="angular.js"></script>
        <script type="text/javascript" src="controller.js"></script>
        <script type="text/javascript" src="directive.js"></script>
        <link rel="stylesheet" type="text/css" href="styles.css">
    </head>
    <body ng-app="test" ng-controller="testController">
        <div class="content">
            <header class="controls">
                <div class="boundaries">
                    <input type="number" placeholder="Min number" ng-model="boundaries.min" />
                    <input type="number" placeholder="Max number" ng-model="boundaries.max" />
                </div>
                <div class="parity-buttons">
                    <button ng-click="setParity('both')">Show all numbers</button>
                    <button ng-click="setParity('even')">Show even numbers</button>
                    <button ng-click="setParity('odd')">Show odd numbers</button>
                </div>
            </header>
            <div class="position-buttons">
                <button ng-click="setPosition('left')">Display on the left</button>
                <button ng-click="setPosition('right')">Display on the right</button>
            </div>
            <number-list class="number-list" ng-class="position" boundaries="boundaries" parity="parity" />
        </div>
    </body>
</html>
