<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript" src="angular.js"></script>
	<script type="text/javascript" src="controller.js"></script>
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body ng-app="test" ng-controller="testController">
	<div class="content">
		<header class="controls-holder container">
			<div class="numbers-holder">
				<!--As there are no instructions about numbers validations, I assume minNumber is a valid integer less or equal to maxNumber-->
				<input type="number" placeholder="Min number" ng-model="minNumber" ng-change="generateRange()">
				<input type="number" placeholder="Max number" ng-model="maxNumber" ng-change="generateRange()">
			</div>
			<div class="buttons-holder">
				<button ng-click="showAll()">Show all numbers</button>
				<button ng-click="filterEvens()">Show even numbers</button>
				<button ng-click="filterOdds()">Show odd numbers</button>
			</div>
		</header>
		<div class="results-space container">
			<div class="buttons-holder">
				<button ng-click="displayLeft()">Display on the left</button>
				<button ng-click="displayRight()">Display on the right</button>
			</div>
		</div>

		<div class="list">
			<numbers ng-class="{'float-left': !floatRight, 'float-right': floatRight}"></numbers>
		</div>
	</div>
</body>
</html>